export PATH=~/.bin:/usr/local/bin:/usr/local/sbin:$PATH

export EDITOR="vim"
export MANPAGER="less -X"

export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
#export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"